# figma-managed npm registry config start
@ifood:registry=https://registry.figma.com/npm/fdfce654-c7d6-4ba8-a269-5854e4a0e2bf/registry/
@make-kits:registry=https://registry.figma.com/npm/fdfce654-c7d6-4ba8-a269-5854e4a0e2bf/registry/
# figma-managed npm registry config end
